﻿
<div id='widget_${id}' class='epi-content-area-editor dijitReset dijitInputField dijitInputContainer dijitInline epi-resourceInputContainer' data-dojo-attach-point='imagePreviewNode, stateNode' tabindex="0" style="width:112px; height:112px;padding:4px 4px 2px 4px;" >
  
    <div data-dojo-attach-point='noImageNode' class="noImage"><a class="epi-visibleLink addLink" data-dojo-attach-event="ondijitclick:openWindow" title="Add image"></a></div>

    <div data-dojo-attach-point='thumbContainer' class="thumbContainer">
        <a data-dojo-attach-event="ondijitclick:openWindow"><img data-dojo-attach-point='thumbImg' width="100px" height="100px" /></a>
        <a class="deleteButton" data-dojo-attach-event="ondijitclick:clearProperty" title="Remove image"></a>
    </div>
</div>
